// COLOR VARIABLES
$color-primary: #eb8f00;
$color-primary-dark: #B28451;

$color-secondary: #9ba8f1;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #555555;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif; 
$font-display: 'Roboto', sans-serif; 

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;